<div class="footer navbar-fixed-bottom text-center ">
    <nav class="navbar navbar-default">

<span>
    <a class="footer-item" href="{{ url_for('main.contact')}}" style="padding: 20px; font-size: 3rem;">
                      contact us
                    </a>
                    <a class="footer-item" href="https://github.com/Muhammad-Nasr/flask-microblog" target="_blank">
                      <i class="fab fa-github" style="font-size: 3rem; padding: 20px;"></i>
                    </a>

</span>
    </nav>
</div>